<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>startPoint</key>
		<string>北门</string>
		<key>endPoint</key>
		<string>狮子山</string>
		<key>weight</key>
		<string>9</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>北门</string>
		<key>endPoint</key>
		<string>仙云石</string>
		<key>weight</key>
		<string>8</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>狮子山</string>
		<key>endPoint</key>
		<string>一线天</string>
		<key>weight</key>
		<string>7</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>狮子山</string>
		<key>endPoint</key>
		<string>飞流瀑</string>
		<key>weight</key>
		<string>6</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>仙云石</string>
		<key>endPoint</key>
		<string>仙武湖</string>
		<key>weight</key>
		<string>4</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>仙云石</string>
		<key>endPoint</key>
		<string>九曲桥</string>
		<key>weight</key>
		<string>5</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>仙武湖</string>
		<key>endPoint</key>
		<string>九曲桥</string>
		<key>weight</key>
		<string>7</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>一线天</string>
		<key>endPoint</key>
		<string>观云台</string>
		<key>weight</key>
		<string>11</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>飞流瀑</string>
		<key>endPoint</key>
		<string>观云台</string>
		<key>weight</key>
		<string>3</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>一线天</string>
		<key>endPoint</key>
		<string>花卉园</string>
		<key>weight</key>
		<string>10</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>观云台</string>
		<key>endPoint</key>
		<string>红叶亭</string>
		<key>weight</key>
		<string>15</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>花卉园</string>
		<key>endPoint</key>
		<string>红叶亭</string>
		<key>weight</key>
		<string>9</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>观云台</string>
		<key>endPoint</key>
		<string>碧水亭</string>
		<key>weight</key>
		<string>16</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>仙武湖</string>
		<key>endPoint</key>
		<string>碧水亭</string>
		<key>weight</key>
		<string>20</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>朝日峰</string>
		<key>endPoint</key>
		<string>碧水亭</string>
		<key>weight</key>
		<string>17</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>朝日峰</string>
		<key>endPoint</key>
		<string>红叶亭</string>
		<key>weight</key>
		<string>10</string>
	</dict>
	<dict>
		<key>startPoint</key>
		<string>九曲桥</string>
		<key>endPoint</key>
		<string>朝日峰</string>
		<key>weight</key>
		<string>20</string>
	</dict>
</array>
</plist>
