<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>北门</string>
		<key>introduction</key>
		<string>北门风光如画位于祖国的最北边，北望神州星辰大海</string>
		<key>popularity</key>
		<string>AA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>没有</string>
		<key>isHaveWC</key>
		<string>有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>狮子山</string>
		<key>introduction</key>
		<string>狮子山位于祖国南边，南眺大海</string>
		<key>popularity</key>
		<string>AAAAAA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>没有</string>
		<key>isHaveWC</key>
		<string>有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>仙云石</string>
		<key>introduction</key>
		<string>仙云石是狮子山上著名的一块石，以其形似“仙云”而著称</string>
		<key>popularity</key>
		<string>AA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>没有</string>
		<key>isHaveWC</key>
		<string>有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一线天</string>
		<key>introduction</key>
		<string>一线天位于深山之中，初其狭，忽豁然开朗而见一线天</string>
		<key>popularity</key>
		<string>AAAA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>有</string>
		<key>isHaveWC</key>
		<string>有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>飞流瀑</string>
		<key>introduction</key>
		<string>飞流直下三千只，疑是银河落九天</string>
		<key>popularity</key>
		<string>AAAAAA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>有</string>
		<key>isHaveWC</key>
		<string>没有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>仙武湖</string>
		<key>introduction</key>
		<string>仙武湖是飞流瀑的源头，位于高海拔</string>
		<key>popularity</key>
		<string>AAA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>没有</string>
		<key>isHaveWC</key>
		<string>有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>九曲桥</string>
		<key>introduction</key>
		<string>九曲桥可谓九曲十八弯，若过此桥须历尽九九八十一难</string>
		<key>popularity</key>
		<string>AAAA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>有</string>
		<key>isHaveWC</key>
		<string>没有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>观云台</string>
		<key>introduction</key>
		<string>观云台作为我国唯一一个没有厕所的景点</string>
		<key>popularity</key>
		<string>A旅游景区</string>
		<key>isHaveRestArea</key>
		<string>没有</string>
		<key>isHaveWC</key>
		<string>没有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花卉园</string>
		<key>introduction</key>
		<string>花卉园里有好多花！</string>
		<key>popularity</key>
		<string>AA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>有</string>
		<key>isHaveWC</key>
		<string>没有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红叶亭</string>
		<key>introduction</key>
		<string>红叶亭里可以看到好多红叶！</string>
		<key>popularity</key>
		<string>AAAAAAA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>有</string>
		<key>isHaveWC</key>
		<string>有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>朝日峰</string>
		<key>introduction</key>
		<string>朝日峰为著名诗人赵日天故居</string>
		<key>popularity</key>
		<string>AAAAA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>有</string>
		<key>isHaveWC</key>
		<string>有</string>
	</dict>
	<dict>
		<key>name</key>
		<string>碧水亭</string>
		<key>introduction</key>
		<string>碧水亭周围有水！</string>
		<key>popularity</key>
		<string>AAA旅游景区</string>
		<key>isHaveRestArea</key>
		<string>有</string>
		<key>isHaveWC</key>
		<string>没有</string>
	</dict>
</array>
</plist>
